*{
  margin: 0;
  padding: 0;
}
/* NAVBAR  AREA*/
.navbar{
position: static;
}
.navbarul{
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.navli{
  list-style: none;
}
.navli a {
  text-decoration: none;
  color: black;
}
.links:hover{
color: dodgerblue;
}
